/* My Css */
:root {
  --color-primary: #346ef1;
  --color-secondary: #f4f5f7;
  --color-headings: #97a0af;
  --color-fonts: #344563;
  --color-copywrite: #b4bac5;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

/* Typography */

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  color: var(--color-fonts);
}

h1 {
  color: var(--color-headings);
  font-size: 2.4rem;
  font-weight: 500;
}

.text--grey {
  color: var(--color-headings);
}
/* Inputs */

.input--text {
  border-radius: 5px;
  border: 1px solid #ebecf0;
  color: var(--color-fonts);
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 2rem;
  outline: 0;
  padding: 16px 24px;
  width: 100%;
}

::placeholder {
  color: var(--color-fonts);
}

.copyright--text {
  color: var(--color-copywrite);
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  margin-top: 100px;
}

/* Icons */
.icon {
  height: 18px;
  width: 18px;
}

.btn__icon {
  position: relative;
  top: -2px;
  right: 6px;
}

/* Buttons */

.btn__self {
  border-radius: 8px;
  border: 0;
  display: inline-block;
  padding: 8px 24px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
  width: 100%;
  margin-bottom: 2rem;
  color: var(--color-fonts);
}
.btn__self:hover {
  background: var(--color-primary);
  color: #ffffff;
}

.btn__self--primary {
  background: var(--color-primary);
  color: #ffffff;
}
.btn__self--secondary {
  /* background: var(--color-secondary); */
  border: 1px solid var(--color-copywrite);
  color: var(--color-fonts);
}
.btn__self--primary:hover {
  background: var(--color-fonts);
  color: #ffffff;
}

/* Grid */

.grid {
  display: grid;
  justify-items: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
  }
}

/* Signup */
.signup__header {
  margin-bottom: 3.2rem;
}

.signup__slider {
  background: var(--color-secondary);
  display: flex;
  padding: 1rem 1rem;
  border-radius: 8px;
  margin-bottom: 32px;
}

.signup__slider .btn {
  margin: 0 5px;
}
.signup__image {
  justify-self: end;
  align-self: end;
}

.signup__form {
  justify-self: center;
}
.signup__footer {
  margin: 60px 5px;
}
/* Logo */

.logo {
  position: absolute;
  left: 73px;
  top: 40px;
}

/* Form */

.main {
  width: 400px;
  background: white;
  border-radius: 3px;
  padding: 30px;
  position: relative;
  display: flex;
}
.main .form_wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.main .form_wrapper .tile {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  overflow: hidden;
}
.main .form_wrapper .tile h3 {
  font-size: 20px;
  /* margin: 0px; */
  transition: all 0.3s ease;
}
.main .form_wrapper .radio {
  display: none;
}
.main .form_wrapper .tab {
  width: 50%;
  border: solid 2px #f1f1f1;
  height: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 500;
  transition: color 0.3s ease;
  user-select: none;
}
.main .form_wrapper .tab.login_tab {
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.main .form_wrapper .tab.signup_tab {
  border-left: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.main .form_wrapper .shape {
  background: var(--color-primary) no-repeat center;
  width: 50%;
  height: calc(40px - 1px);
  border-radius: 5px;
  position: absolute;
  top: 49px;
  left: 0px;
  opacity: 0.9;
  transition: all 0.4s ease;
}
.main .form_wrapper #login:checked ~ .shape {
  left: 0px;
}
.main .form_wrapper #login:checked ~ .login_tab {
  border-color: transparent;
  z-index: 1;
  color: white;
}
.main .form_wrapper #login:checked ~ .tile .signup {
  display: none;
}
.main .form_wrapper #login:checked ~ .form_wrap {
  transform: translateX(0);
}
.main .form_wrapper #login:checked ~ .form_wrap .signup_form {
  opacity: 0;
}
.main .form_wrapper #signup:checked ~ .shape {
  left: 50%;
}
.main .form_wrapper #signup:checked ~ .signup_tab {
  border-color: transparent;
  z-index: 1;
  color: white;
}
.main .form_wrapper #signup:checked ~ .tile .login {
  display: none;
}
.main .form_wrapper #signup:checked ~ .form_wrap {
  transform: translateX(-100%);
}
.main .form_wrapper #signup:checked ~ .form_wrap .login_form {
  opacity: 0;
}

.main .form_wrapper .form_wrap {
  display: flex;
  width: 100%;
  flex: 0 0 100%;
  transition: transform 0.3s ease, opacity 0.2s ease;
}
.main .form_wrapper .form_wrap .form_fild {
  width: 100%;
  flex: 0 0 100%;
  transition: all 0.5s ease;
}
.main .form_wrapper .form_wrap .form_fild .input_group {
  width: 100%;
  margin-bottom: 12px;
}
.main .form_wrapper .form_wrap .form_fild .input_group .input {
  border: solid #f1f1f1 2px;
  border-radius: 8px;
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: 500;
  outline: none;
  transition: all 0.3s linear;
}
.main .form_wrapper .form_wrap .form_fild .input_group .input::placeholder {
  color: #adadad;
}
.main .form_wrapper .form_wrap .form_fild .input_group .input:hover {
  border-color: rgba(66, 102, 248, 0.3);
}
.main .form_wrapper .form_wrap .form_fild .input_group .input:focus {
  border-color: rgba(66, 102, 248, 0.3);
}

.main .form_wrapper .form_wrap .form_fild .btn {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  color: white;
  background: var(--color-primary) no-repeat center;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s linear;
}
.main .form_wrapper .form_wrap .form_fild .btn:hover {
  background: var(--color-headings) no-repeat center;
}
.main .form_wrapper .form_wrap .form_fild .btn:active {
  transform: scale(0.95);
}
.main .form_wrapper .form_wrap .form_fild .not_mem {
  text-align: center;
}
.main .form_wrapper .form_wrap .form_fild .not_mem label {
  pointer-events: none;
}
.main .form_wrapper .form_wrap .form_fild .not_mem label span {
  pointer-events: all;
  color: var(--color-primary);
  text-decoration: none;
  transition: all 0.3s linear;
}
.main .form_wrapper .form_wrap .form_fild .not_mem label span:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  /* .signup__image{
		justify-self: center;
	} */
  /* .signup__form{
		align-self: center;
		justify-self: center;
		margin-top: 700px;
	} */
}
