:root {
  --color-primary: #346ef1;
  --color-secondary: #f4f5f7;
  --color-headings: #97a0af;
  --color-fonts: #344563;
  --color-copywrite: #b4bac5;
  --swiper-navigation-size: 20px !important;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  color: var(--color-fonts);
}
a {
  text-decoration: none !important;
  padding: 8px 12px;
  border-radius: 8px;
}

// a:hover {
//   background: var(--color-primary);
//   color: #ffffff;
// }

.hover-effect {
  transition: background-color 0.3s ease;
}

.hover-effect:hover {
  background: var(--color-primary);
  color: #ffffff;
}
input {
  border: 0;
  outline: 0;
  ::placeholder {
    color: var(--color-headings);
  }
}

li {
  list-style: none;
}
h1 {
  color: var(--color-headings);
  font-size: 2.4rem;
  font-weight: 500;
}
.text--grey {
  color: var(--color-headings);
}
.input--text {
  border-radius: 5px;
  border: 1px solid #ebecf0;
  color: var(--color-fonts);
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 2rem;
  outline: 0;
  padding: 16px 24px;
  width: 100%;
}
::placeholder {
  color: var(--color-fonts);
}
.copyright--text {
  color: var(--color-copywrite);
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  margin-top: 100px;
}

.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px;
}
.font-24 {
  font-size: 24px;
}
.font-20 {
  font-size: 20px;
}
.font-32 {
  font-size: 32px;
}

.font-w-400 {
  font-weight: 400;
}
.font-w-500 {
  font-weight: 500;
}
.font-w-700 {
  font-weight: 700;
}

.font-primary {
  color: #346ef1;
}

.font-secondary {
  color: #42566e;
}
.font-white {
  color: #ffffff;
}

.header-primary {
  color: #091e42;
}

.w-100 {
  width: 100%;
}

.sidebar-text {
  font-size: 1.6rem;
  font-weight: 400;
  .icon-medium {
    margin-right: 16px;
  }
}
.icon {
  height: 18px;
  width: 18px;
}
.icon-medium {
  height: 24px;
  width: 24px;
}
.icon-large {
  height: 40px;
  width: 40px;
}
.media__icon {
  width: 57px;
  height: 48px;
}
.btn__icon {
  position: relative;
  top: -2px;
  right: 6px;
}
.btn__self {
  border-radius: 8px;
  border: 0;
  display: inline-block;
  padding: 8px 24px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
  width: 100%;
  margin-bottom: 2rem;
  color: var(--color-fonts);
  &:hover {
    background: var(--color-primary);
    color: #ffffff;
  }
}
.btn__self--primary {
  background: var(--color-primary);
  color: #ffffff;
  &:hover {
    background: var(--color-fonts);
    color: #ffffff;
  }
}
.btn__self--secondary {
  border: 1px solid var(--color-copywrite);
  color: var(--color-fonts);
}
.btn__self--small {
  width: 12%;
}

.grid {
  display: grid;
}

.grid1x {
  grid-template-columns: 2fr;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
  }
}

.grid2x1 {
  grid-template-columns: 752px 358px;
  grid-gap: 30px;
  align-items: center;
}

.grid2x {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}
.grid3x {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  align-items: center;
}
.grid4x {
  grid-template-columns: repeat(4, 1fr);
  // grid-gap: 20px;
  align-items: center;
}
.signup__header {
  margin-bottom: 3.2rem;
}
.signup__slider {
  background: var(--color-secondary);
  display: flex;
  padding: 1rem 1rem;
  border-radius: 8px;
  margin-bottom: 32px;
  .btn {
    margin: 0 5px;
  }
}
.signup__image {
  justify-self: end;
  align-self: end;
}
.signup__form {
  justify-self: center;
}
.signup__footer {
  margin: 60px 5px;
}
.logo {
  position: absolute;
  left: 73px;
  top: 40px;
}
.main {
  margin-top: 180px;
  width: 400px;
  background: white;
  border-radius: 3px;
  padding: 30px;
  position: relative;
  display: flex;
  .form_wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    .tile {
      text-align: center;
      margin-bottom: 20px;
      width: 100%;
      overflow: hidden;
      h3 {
        font-size: 20px;
        transition: all 0.3s ease;
      }
    }
    .radio {
      display: none;
    }

    .tabs {
      width: 50%;
      border: solid 2px #f1f1f1;
      height: 40px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      margin-bottom: 20px;
      font-weight: 500;
      transition: color 0.3s ease;
      user-select: none;
      &.login_tab {
        border-right: none;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }
      &.signup_tab {
        border-left: none;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }
    }
    .shape {
      background: var(--color-primary) no-repeat center;
      width: 50%;
      height: calc(40px - 1px);
      border-radius: 5px;
      position: absolute;
      top: 49px;
      left: 0px;
      opacity: 0.9;
      transition: all 0.4s ease;
    }
    #login {
      &:checked {
        & ~ .shape {
          left: 0px;
        }
        & ~ .login_tab {
          border-color: transparent;
          z-index: 1;
          color: white;
        }
        & ~ .tile {
          .signup {
            display: none;
          }
        }
        & ~ .form_wrap {
          transform: translateX(0);
          .signup_form {
            opacity: 0;
          }
        }
      }
    }
    #signup {
      &:checked {
        & ~ .shape {
          left: 50%;
        }
        & ~ .signup_tab {
          border-color: transparent;
          z-index: 1;
          color: white;
        }
        & ~ .tile {
          .login {
            display: none;
          }
        }
        & ~ .form_wrap {
          transform: translateX(-100%);
          .login_form {
            opacity: 0;
          }
        }
      }
    }
    .form_wrap {
      display: flex;
      width: 100%;
      flex: 0 0 100%;
      transition: transform 0.3s ease, opacity 0.2s ease;
      .form_fild {
        width: 100%;
        flex: 0 0 100%;
        transition: all 0.5s ease;
        .input_group {
          width: 100%;
          margin-bottom: 12px;
          .input {
            border: solid #f1f1f1 2px;
            border-radius: 8px;
            width: 100%;
            height: 40px;
            padding: 5px 10px;
            font-size: 15px;
            font-weight: 500;
            outline: none;
            transition: all 0.3s linear;
            &::placeholder {
              color: #adadad;
            }
            &:hover {
              border-color: rgba(66, 102, 248, 0.3);
            }
            &:focus {
              border-color: rgba(66, 102, 248, 0.3);
            }
          }
        }
        .btn {
          width: 100%;
          height: 40px;
          margin-bottom: 20px;
          border: none;
          outline: none;
          font-size: 16px;
          font-weight: 500;
          color: white;
          background: var(--color-primary) no-repeat center;
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.3s linear;
          &:hover {
            background: var(--color-headings) no-repeat center;
          }
          &:active {
            transform: scale(0.95);
          }
        }
        .not_mem {
          text-align: center;
          label {
            pointer-events: none;
            span {
              pointer-events: all;
              color: var(--color-primary);
              text-decoration: none;
              transition: all 0.3s linear;
              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
.onboard {
  margin-top: 200px;
  button {
    margin-top: 40px;
    margin-bottom: 140px;
    margin-left: auto;
    margin-right: auto;
  }
}
.content__header {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-fonts);
}
.content__text {
  font-size: 32px;
  font-weight: 700;
  color: #091e42;
  margin-top: 16px;
  margin-bottom: 50px;
}
.onboard__media {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.onboard__media-content {
  display: grid;
  justify-items: center;
  align-items: center;
  border: 1px solid #c1c7d0;
  border-radius: 12px;
  padding: 41px 34px;
  width: 272px;
  height: 202px;
  span {
    font-size: 16px;
    font-weight: 400;
    color: #5e6c84;
  }
}
.vector-image {
  position: absolute;
}
.vector-top {
  top: -1%;
  left: 91%;
}
.vector-bottom {
  top: 85%;
}
.sidenav {
  background: #fafbfc;
  width: 280px;
  height: 900px;
  border-right: 1px solid #dcddde;
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidenav__content {
  .menu {
    border-top: 1px solid #dcddde;
  }
}
.logo--icon {
  display: flex;
  margin: 0 auto;
  width: 230px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.menu {
  margin-top: 32px;
  width: 100%;
  padding: 16px 24px;
  li {
    list-style: none;
    margin-bottom: 16px;
    border-radius: 8px;
    &:first-child {
      &:hover {
        img {
          filter: unset;
        }
      }
    }
    &:hover {
      background: #346ef1;

      a {
        color: #ffffff;
      }
      img {
        filter: invert(100%) sepia(9%) saturate(0%) hue-rotate(258deg)
          brightness(106%) contrast(105%);
      }
    }
    a {
      text-decoration: none;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      color: #091e42;
    }
  }
}
.active {
  background: #346ef1;
  font-weight: 500;
  a {
    color: #ffffff !important;
  }
  img {
    filter: invert(100%) sepia(9%) saturate(0%) hue-rotate(258deg)
      brightness(106%) contrast(105%);
  }
}

.active-a {
  background: #346ef1;
  color: #ffffff;
}
.sidenav__footer {
  text-align: center;
  padding: 24px 8px;
  border: 1px solid #dcddde;
  h3 {
    font-size: 20px;
    font-weight: 600;
  }
  p {
    font-size: 14px;
    font-weight: 400;
  }
}
.text--gradient {
  background: linear-gradient(93deg, #dc79ff 1.58%, #256bfa 88.38%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-gradient-outline {
  padding: 20px 60px;
  border: none;
  outline: none;
  position: relative;
  z-index: 1;
  border-radius: 5px;
  background: linear-gradient(93deg, #dc79ff 1.58%, #256bfa 88.38%);
  cursor: pointer;
  &::before {
    content: "";
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    border-radius: 4px;
    background-color: white;
    z-index: -1;
    transition: 200ms;
  }
  &::after {
    content: attr(data);
    font-size: 16px;
    background: linear-gradient(93deg, #dc79ff 1.58%, #256bfa 88.38%);
    -webkit-background-clip: text;
    color: transparent;
    transition: 200ms;
  }
  &:hover {
    &::before {
      opacity: 50%;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      color: #ffffff;
    }
    &::after {
      color: #ffffff;
    }
  }
}
.nav-self {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 19px;
}
.nav__icon {
  margin-right: 24px;
}
.icon--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  width: 236px;
}
.text-light {
  color: #fafbfc;
}
.banner-image {
  background: url("../images/banner-image.svg");
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
}
.border {
  width: 100%;
  border: 1px solid grey;
  border-radius: 8px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
}
.flex-start {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 270px;
  gap: 54px;
}

.flex-content-start {
  justify-content: start !important;
}

.grid-content-end {
  justify-self: end;
}
.content {
  padding: 30px 40px;

  p {
    color: #7a869a;
    font-size: 14px;
    font-weight: 400;
  }
}
.grid--nav {
  grid-template-columns: 280px auto;
}
.project--section {
  margin-top: 27px;
  width: 98%;
  h3 {
    margin-bottom: 24px;
  }
}
.btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  // color: #346ef1;
  // font-size: 14px;
  // font-weight: 400;
  text-decoration: none;
  img {
    margin-right: 8px;
  }
}

.btn--icon-small {
  width: 50%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 13px;
  margin-right: 16px;
}

.d-content {
  display: contents;
}

.flex-element {
  padding: 8px 12px;
}

.flex-content-center {
  justify-content: center;
  align-items: center;
}

.margin-top {
  margin-top: 16px;
}

.margin-right {
  margin-right: 16px;
}

.border-r-8 {
  border-radius: 8px;
}

// Card

.card__container {
  max-width: 250px;
  width: 100%;
  margin: 7.5px 10px;
}

.card__image img {
  width: 100%;
}
.card__content {
  padding: 26px 20px;
  background: var(--color-secondary);
  border-radius: 0 0 8px 8px;
  a {
    padding: 0 !important;
    cursor: pointer;
  }
}

#modal {
  height: 535px;
  width: 1328px;
  border: 0;
  border-radius: 8px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-container {
  width: 747px;
  height: 472px;
}

.pagination--value {
  left: 700px;
}

.cart--section {
  margin: 18px 20px;
  // border: 2px solid gold;
}

.cart__details {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  margin-top: 24px;
}

.cart__cta {
  margin-bottom: 18px;
  display: flex;
}

.cart__cta button {
  margin: 8px;
}

.cart__screens > ul {
  margin-top: 4px;
}

.cart {
  // position: relative;
}
.close__btn {
  position: absolute;
  border: 0;
  outline: 0;
  font-size: 12px;
  border-radius: 8px;
  font-weight: 700;
  top: 8px;
  right: 8px;
}
.close__btn:hover {
  background: rgb(247, 97, 97);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  background: #ffffff;
  padding: 5px 7px;
  border-radius: 4px;
  outline: 0;
  border: 0;
}

.swiper-pagination-fraction {
  font-size: 16px;
  font-weight: 700;
  bottom: 33px !important;
  position: relative !important;
  left: 336px !important;
  letter-spacing: -2px;
}

.no-list-padding {
  padding: 0;
}

.media--conatiner {
  padding: 12px;
  display: flex;
  gap: 32px;
}
.media--content {
  text-align: left;
  h3 {
    font-size: 13px;
  }
  ul {
    li {
      font-size: 13px;
    }
  }
}
.media--icon {
  width: fit-content;
  border-radius: 36px;
  padding: 4px;
  background: var(--color-copywrite);
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #c7eae0;
  font-family: "sans-serif", sans-serif;
}
// .tab {
//   display: none;
// }
.tab h2 {
  color: rgba(0, 0, 0, 0.7);
}
.tab p {
  color: rgba(0, 0, 0, 0.6);
  text-align: justify;
}

.tab {
  display: none;
}

.tab-active {
  display: grid;
}

.nav-close {
  width: 95px;
  .nav--item {
    display: none;
  }
  .logo--icon {
    width: 0;
    .logo {
      display: none;
    }
  }
  .sidenav__footer {
    display: none;
  }
}
.grid--nav-close {
  grid-template-columns: 95px auto;
}

.card--check {
  position: relative;
}
input[type="checkbox"] {
  position: absolute;
  right: 40px;
  top: 17px;
  width: 24px;
  height: 24px;
  border-radius: 8px;
  outline: 0;
  &:checked + .card__container {
    border: 2px solid var(--color-primary);
    border-radius: 8px;
  }
}
