<div class="sidenav">
    <div class="sidenav__content">
      <div class="logo--icon">
        <a href="#home"><img src="/images/logo.svg" alt="" /></a>
        <a href="#home"><img src="/images/logo-right.svg" alt="" /></a>
      </div>
      <ul class="menu">
        <li class="sidebar-text active">
          <img src="/images/new-project-icon.svg" alt="" class="icon-medium" />
          <a href="" class="">New Project</a>
        </li>
        <li class="sidebar-text">
          <a href=""
            ><img
              src="images/projects-icon.svg"
              alt=""
              class="icon-medium"
            />Projects</a
          >
        </li>
        <li class="sidebar-text">
          <a href=""
            ><img
              src="images/templates-icon.svg"
              alt=""
              class="icon-medium"
            />Templates</a
          >
        </li>
        <li class="sidebar-text">
          <a href=""
            ><img
              src="images/Play.svg"
              alt=""
              class="icon-medium"
            />Tutorials</a
          >
        </li>
      </ul>
    </div>

    <div class="sidenav__footer">
      <h3> <span class="text--gradient">UXmagic Pro</span> 🔥 </h3>
      <p>Get UXmagic pro get unlimited projects and export features</p>
      <button class="btn btn-outline-info text--gradient">Subscribe Now</button>
    </div>
  </div>
